* {
	padding: 0px;
	margin: 0px;
}


@font-face {
	font-family: 'Playground';
	src: url('../fonts/plaground_bold-webfont.eot');
	src: url('../fonts/plaground_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/plaground_bold-webfont.woff2') format('woff2'),
	url('../fonts/plaground_bold-webfont.woff') format('woff'),
	url('../fonts/plaground_bold-webfont.ttf') format('truetype'),
	url('../fonts/plaground_bold-webfont.svg#playground_boldbold') format('svg');
	font-weight: bold;
	font-style: bold;

}

@font-face {
	font-family: 'Playground';
	src: url('../fonts/plaground_reg_1.1c-webfont.eot');
	src: url('../fonts/plaground_reg_1.1c-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/plaground_reg_1.1c-webfont.woff2') format('woff2'),
	url('../fonts/plaground_reg_1.1c-webfont.woff') format('woff'),
	url('../fonts/plaground_reg_1.1c-webfont.ttf') format('truetype'),
	url('../fonts/plaground_reg_1.1c-webfont.svg#playground_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;

}


body {
	font-family: 'Playground', Helvetica, Arial, Sans-Serif;
	background: #1d1d1d;
	color: #bd10e0;
	font-size: 14px;
}

a {
	color: #bd10e0;
}

/* hide till loaded */

.transparent {
	opacity: 0;
}

/* menu */

.home{
	display:none;
}

.homeClose{
	display:none;
}

#menu{
	position:fixed;
	top:5%;
	left:5%;
	z-index: 10;

	-webkit-transition: opacity 1200ms;
	transition: opacity 1200ms;

}

#menuMobile{
	display:none;
}

ul{
	list-style: none;
}

ul li a{
	text-decoration: none;
	color: #bd10e0;
}

a:hover{
	text-decoration:underline;
}

.active {
	text-decoration:underline;
}

/* content */

#allcontainer{
	position:absolute;
	width:100%;
	top:0;
	left:0;

	-webkit-transition: opacity 1200ms;
	transition: opacity 1200ms;

}

.container{
	position:relative;
	width:100%;
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: center;
	box-sizing: border-box;
	padding: 5% 15%;
}
.containerStick{
	position:relative;
	width:100%;
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	justify-content: center;
	box-sizing: border-box;
}

.container * {
	z-index: 0;
}

/* About */

#about{
	align-items: center;
}

#about p {
	width: 820px;
	font-size: 24px;
	margin: 0px;
	margin-bottom: 30px;
}

/* Instigators */

#instigators {
}

#instigators ul {
	flex-basis: 30%;
	margin: 0 1.5% 100px;
}

#instigators ul li{
	margin-bottom: 15px;
}

#instigators ul li a{
	display: block;
}

#instigators ul li a::after{
	content: " →";
}

.title {
	font-weight: bold;
	font-size: 20px;
}

.presenter {
	padding-left: 20px;
}


/* Frontier */

#frontier{
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}


#frontier .type {
	position: relative;
}

#frontier .type canvas {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
}

#frontier h1 {
	font-size: 180px;
	opacity: 0;
	position: relative;
	z-index: 1;
    text-transform: uppercase;
    letter-spacing: 11px;
}

#frontier h2 {
	font-size: 36px;
	text-align: center;
	opacity: 1;
	position: relative;
	z-index: 1;
	cursor: pointer;
}

/* Schedule */

#schedule{
}

.day {
	flex-basis: 30%;
	margin: 0 1.5%;
	vertical-align: top;
}

#schedule h3, #schedule ul {
	margin-bottom: 20px;
}

#schedule h3, .date {
	font-size: 14px;
	font-weight: normal;

}

.event {
	font-size: 20px;
	font-weight: bold;
}

/* People */
.talk-contain{
	position:relative;
	height: auto;
	flex-basis: 100%;
	margin-bottom: 0 0 75px;

	-webkit-transition-duration: 0.8s;

}


.talk-contain.wide{
	flex-basis: 100%;
	/*padding-bottom: 50px;*/
	margin: 0 0 0;
	height: auto;
	overflow: hidden;

}


.talk{
	position: relative;
	overflow: hidden;
	margin-left: 35px;
}

.more{
	/*width: 100%;*/
	height: 100%;
	-webkit-transition-duration: 0.8s;
}

#expand{
	position:absolute;
	left:0%;
	position: -webkit-sticky;
	position: sticky;
	top: 0%;
	z-index: 100;
	cursor:pointer;
}

#expand p{
	font-size: 18px;
}

.hide{
	display:none;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

}

.fade{
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
}

/*.sticky:before,
.sticky:after {
    content: '';
    display: table;
    }*/


    #people{
    	flex-flow: row wrap;
    	justify-content: center;
    }

/*#people ul {
	flex-basis: 30%;
	margin: 0 1.5% 100px;
	}*/

	#people ul li{
		margin-bottom: 10px;
	}

	#people ul li a{
		display: block;
	}

	#people ul li a::after{
		content: " →";
	}

	.talk-contain .title {
		font-weight: bold;
		font-size:18px;
	}

	.presenter {
		padding-left: 35px;
	}

	.desc{
		opacity: 0;
	}

	.bio{
		opacity:0;
	}

	.links{
		opacity:0;
	}

	.details{
		margin-bottom: 35px;
	}

	/* registration */

	#registration{
	}

	#registration div{
		height: 500px;
/*	flex-basis: 30%;

*/	margin: 1.5%;
}

#registration-info {
	flex-basis: 60%;
}

#registration-info p{
	font-size: 20px;
	margin-bottom: 40px;
	margin-right: 40px;
}

#registration-prices {
	flex-basis: 30%;
}

.price {
	font-size: 20px;
}

.purchase {
	margin-bottom: 40px;
}

.purchase a::after{
	content: " →";
}

p.note {
	font-size: 11px;
}


/* location */

#location{
	flex-flow: row wrap;
	justify-content: center;
}

#location a{
	text-decoration: none;
}

#location a::after{
	content: " →";
}

.location-item {
	flex-basis: 19%;
	margin: 0 1.5%;
	vertical-align: top;
}

#location h3, #location p {
	margin-bottom: 20px;
}

#content8{
	background-color: cyan;
}


#location img {
	position: absolute;
	z-index: 0;
	height: auto;

	-webkit-filter: blur(15px);
	filter: blur(15px);

	-webkit-transition: all 1000ms;
	transition: all 1000ms;



	/*mix-blend-mode: multiply;*/

	opacity: .35;

/*	-webkit-filter: grayscale(80%);
filter: grayscale(80%);*/
}


#images-holder {
	position: fixed;
	width:100%;
	height: 100vh;
}

#images-holder img{
	-webkit-filter: blur(15px);
	filter: blur(15px);
	-webkit-transition: all 1750ms;
	transition: all 1750ms;

	/*mix-blend-mode: multiply;*/

	opacity: 0;
}

/* show images once they have been arranged */

#images-holder img.show{
	opacity: .35;
}

#images-holder img.hover {
	opacity: 1;
	-webkit-filter: blur(0px);
	filter: blur(0px);

	z-index: 100000;
}

/* image sizes */

.image-size-1, .image-size-1 img {
	width: 200px;
	height: auto;
}

.image-size-2, .image-size-2 img {
	width: 300px;
	height: auto;
}

.image-size-3, .image-size-3 img {
	width: 400px;
	height: auto;
}

.image-size-4, .image-size-4 img {
	width: 400px;
	height: auto;
}

.image-size-1, .image-size-2, .image-size-3, .image-size-4 {
}

/* image arrangement */

.image-pos-1, .image-pos-2, .image-pos-3, .image-pos-4, .image-pos-5, .image-pos-6, .image-pos-7, .image-pos-8{
	position: absolute;
}

.image-pos-1 {
	top: 400px;
	left: 100px;
}

.image-pos-2 {
	top: 600px;
	left: 800px;
}

.image-pos-3 {
	top: 200px;
	left: 400px;
}

.image-pos-4 {
	bottom: 100px;
	right: 100px;
}

.image-pos-5 {
	bottom: 200px;
	right: 300px;
}

.image-pos-6 {
	top: 100px;
	left: 300px;
}

.image-pos-7 {
	bottom: 400px;
	right: 700px;
}

.image-pos-8 {
	top: 100px;
	right: 150px;
}

.image-pos-9 {
	top: 50px;
	right: 300px;
}

.image-pos-10 {
	bottom: 400px;
	left: 700px;
}

.image-pos-11 {
	top: 150px;
	left: 150px;
}




/* image text positions

.image-text-pos-1, .image-text-pos-2, .image-text-pos-3, .image-text-pos-4, .image-text-pos-5, .image-text-pos-6 {
	position: absolute;
}

.image-text-pos-1 {
	top: 100px;
	left: -10px;
}

.image-text-pos-2 {
	top: 200px;
	left: -20px;
}

.image-text-pos-3 {
	bottom: 50px;
	left: -50px;
}

.image-text-pos-4 {
	top: 100px;
	right: -10px;
}

.image-text-pos-5 {
	top: 200px;
	right: -30px;
}

.image-text-pos-6 {
	bottom: 50px;
	right: -50px;
}

*/

/* smaller desktops / laptops */

@media only screen and (max-width : 1024px) {

}


/* phone */


@media only screen and (max-width : 667px) {

	body {
		font-size: 18px;
	}

	.close{
	position:fixed;
	top:6%;
	right:6%;
	width:50px;
	height:50px;
	z-index: 2000;
	opacity:0;
}

.menuIcon{
	position:fixed;
	top:1%;
	width:30px;
	height:30px;
}

.close:hover{
	cursor:pointer;
}

.home{
	display:block;
	position:fixed;
	left: 3.5%;
	top: 3%;
	z-index: 2000;
	opacity: 1;
	cursor: pointer;
}

.homeClose{
	display:block;
	position:fixed;
	left: 3.5%;
	top: 3%;
	z-index: 1000;
	opacity: 0;
	cursor: pointer;
}


.menubar1{
	position: absolute;
    width: 100%;
    top: 6px;
    height: 4px;
    z-index: 200;
    background-color: #bd10e0;
}

.menubar2{
	position: absolute;
    width: 100%;
    height: 4px;
    top: 16px;
    z-index: 200;
    background-color: #bd10e0;
}

.menubar3{
	position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    z-index: 200;
    background-color: #bd10e0;
}

.menubarClose1{
	position:absolute;
	width:100%;
	height:4px;
	z-index: 200;
	top:15px;
	background-color: #bd10e0;
	-webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(45deg);  /* IE 9 */
	-o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
	transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.menubarClose2{
	position:absolute;
	width:100%;
	height:4px;
	top:15px;
	z-index: 200;
	background-color: #bd10e0;
	-webkit-transform: rotate(-45deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(-45deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(-45deg);  /* IE 9 */
	-o-transform: rotate(-45deg);  /* Opera 10.50-12.00 */
	transform: rotate(-45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

	#menu{
		position:fixed;
		top:0%;
		left:0%;
		z-index: 10;

		height: 100vh;
		width: 100vw;
		-webkit-transition: opacity 1200ms;
		transition: opacity 1200ms;

		background: #1d1d1d;

		display: none;
	}

/*.menuMobileBG{
	position:fixed;
	height:50px;
	width:100%;
	top:0;
	background: rgba(29, 29, 29, 1);
	z-index:1000;

}*/

	#menuMobile{
		position:fixed;
		top:0%;
		left:0%;
		z-index: -10;

		height: 100vh;
		width: 100vw;

		-webkit-transition: opacity 1200ms;
		transition: opacity 1200ms;

		background: rgba(29, 29, 29, .8);
		display:block;

		opacity:0;
	}

	#menuMobile ul {
		text-align: center;
		box-sizing: border-box;
		vertical-align: middle;
		padding: 15% 10% 10%;
	}

	#menuMobile li{
		font-size: 24px;
		margin-bottom: 10px;
	}

	/* sections */

	.container{
		padding: 50px;
	}


	/* about */

	#about p {
		width: 100%;
		font-size: 24px;
		margin: 0px;
		margin-bottom: 30px;
	}

	/* */

	#frontier h1 {
		font-size: 80px;
	}

	#frontier h2 {
		font-size: 18px;
		text-align: center;
	}


	/* make multi column layouts 1 column*/

	.talk #people ul{
		flex-basis: 100%;
		margin: 0 0% 100px 35px;
	}

	#instigators ul, .day, .location-item {
		flex-basis: 100%;
		margin: 0 0% 100px;
	}





	/* Special CSS for Registration */

	#registration div{
		height: auto;
		margin: 0px;
	}

	#registration-info, #registration-prices {
		flex-basis: 100%;
	}

	#registration-info p{
		font-size: 20px;
		margin-bottom: 40px;
		margin-right: 40px;
	}

	.price {
		font-size: 20px;
	}

	.purchase {
		margin-bottom: 40px;
	}

	/* images */

	#images-holder img.show{
		opacity: .15;
	}




}


